*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Please make the anchor tags gold, 20px, and have a purple background */

a{
    color: rgb(253, 226, 73);
    font-size: 20px;
    background-color: rgb(70, 21, 70);
}

/* Please make the section have a height of 200px, a 10px thick blue border, and a light orange background */

section{
    height: 200px;
    border: 10px solid rgb(71, 71, 247);
    background-color: rgb(255, 183, 49);
}

/* Please make the aside have a height of 300px, a thin red border, and a teal background  */

aside{
    height: 300px;
    border: 2px solid red;
    background-color: teal;
}

/* Please make the aside paragraph have white text, 18px, and a red underline */

aside > p {
    color: white;
    font-size: 18px;
    text-decoration: underline red;
}
